<p id="notice"><%= notice %></p>

<h1>Memberships</h1>

<%= link_to 'New Membership', new_membership_path, class: "btn btn-primary" %>

<table class="table">
  <thead>
    <tr>
      <th>Participant</th>
      <th>Organisation</th>
      <th>Member start</th>
      <th>Member end</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @memberships.each do |membership| %>
      <tr>
        <td><%= link_to membership.person, person_path(membership.person) %></td>
        <td><%= link_to membership.organisation, organisation_path(membership.organisation) %></td>
        <td><%= membership.member_start %></td>
        <td><%= membership.member_end %></td>
        <td><%= membership.notes %></td>
        <td><%= link_to 'Show', membership %></td>
        <td><%= link_to 'Edit', edit_membership_path(membership) %></td>
        <td><%= link_to 'Destroy', membership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
