<%= simple_form_for(@activity_coach) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :event %>
    <%= f.association :person %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
