<div class="row people">
  <div class="col-sm-2">
    <h1><%= t("#{controller_name}.page_title") %></h1>
  </div>
  <div class="col-sm-3 pull-right">
    <%= smart_listing_controls_for(:people) do %>
      <div class="filter input-append form-group">
        <%= text_field_tag :filter, '', class: "search form-control", placeholder: "Search by name or email", autocomplete: "off" %>
      </div>
    <% end %>
  </div>
  <div class="col-sm-2 pull-right">
    <%= link_to t("#{controller_name}.new_button"), path_for_new_person, class: "btn btn-primary" %>
  </div>
</div>

<%= smart_listing_render(:people) %>

<br>

