<h1><%= @person.first_name %> <%= @person.last_name %> <small><%= @person.type %></small></h1>

<p>
  <%= link_to 'Edit', edit_person_path(@person), class: "btn btn-primary" %>
  <%= link_to 'Back', people_path, class: "btn btn-secondary" %>
</p>

<p>
  <strong>Nicknames:</strong>
  <%= @person.nicknames %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @person.tel %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @person.twitter %>
</p>

<p>
  <strong>Is accreditor:</strong>
  <%= @person.is_accreditor %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @person.dob %>
</p>

<h2>Notes</h2>
<p>
  <%= @person.notes %>
</p>

<% if @person.type == "Coach" %>
  <h2>Activities Coached</h2>
  
<% end %>
