<p id="notice"><%= notice %></p>

<h1><%= @organisation.name %></h1>

<%= link_to 'Edit', edit_organisation_path(@organisation) %> |
<%= link_to 'Back', organisations_path %>

<p>
  <strong>Activity:</strong>
  <%= @organisation.activity %>
</p>

<p>
  <strong>Email:</strong>
  <%= @organisation.email %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @organisation.tel %>
</p>

<p>
  <strong>Address 1:</strong>
  <%= @organisation.address_1 %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @organisation.address_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @organisation.city %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @organisation.postcode %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @organisation.notes %>
</p>

<h2>Members</h2>
<ul>
  <% @organisation.people.each do |member| %>
    <li><%= link_to member, participant_path(member) %></li>
  <% end %>
</ul>
