<%- unless smart_listing.empty? %>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Event start</th>
        <th>Event duration</th>
        <th>Event type</th>
        <th>Location</th>
        <th>Other attendees</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% smart_listing.collection.each do |event| %>
        <tr>
          <td><%= link_to event.name, event_path(event) %></td>
          <td><%= event.type %></td>
          <td><%= event.event_start.to_date %></td>
          <td><%= event.duration %> hours</td>
          <td><%= event.event_type %></td>
          <td><%= event.location %></td>
          <td><%= event.other_attendee_count %></td>
          <td><%= link_to 'Manage Attendees', event_attendances_path(event)%></td>
          <td>
            <%= link_to event do %>
              <i class="glyphicon glyphicon-share-alt"></i>
            <% end %>
            <%= link_to edit_event_path(event) do %>
              <i class="glyphicon glyphicon-pencil"></i>
            <% end %>
            <%= link_to event, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="glyphicon glyphicon-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= smart_listing.paginate %>
  <%= smart_listing.pagination_per_page_links %>
<% else %>
  <p class="warning">No records found</p>
<% end %>
