<h1><%= @event.name %> <small><%= @event.type %></small></h1>

<p>
  <%= link_to 'Edit', edit_event_path(@event), class: "btn btn-primary" %>
  <%= link_to 'Back', events_path, class: "btn btn-secondary" %>
</p>

<p>
  <%= @event.event_start %> - <%= @event.event_end %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Other attendee count:</strong>
  <%= @event.other_attendee_count %>
</p>

<h2>Notes</h2>
<p>
  <%= @event.notes %>
</p>

<% if @event.type == "Activity" %>
  <h2>Coaches</h2>
  <% if @event.coaches.length > 0 %>
    <ul>
      <% @event.coaches.each do |coach| %>
        <li><%= link_to coach, coach_path(coach) %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No coaches listed! Add one?</p>
  <% end %>
  <p>
    <%= link_to "Add a coach", new_activity_coach_path({event_id: @event.id}) %>
  </p>
<% end %>
