<h1><%= @event.name %></h1>

<p>
  <%= link_to 'Edit', edit_event_path(@event), class: "btn btn-primary" %>
  <%= link_to 'Back', events_path, class: "btn btn-secondary" %>
</p>

<p>
  <strong>Event start:</strong>
  <%= @event.event_start %>
</p>

<p>
  <strong>Event end:</strong>
  <%= @event.event_end %>
</p>

<p>
  <strong>Event type:</strong>
  <%= @event.event_type %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Other attendee count:</strong>
  <%= @event.other_attendee_count %>
</p>

<p>
  <strong>Type:</strong>
  <%= @event.type %>
</p>

<h2>Notes</h2>
<p>
  <%= @event.notes %>
</p>

<% if @event.type = "Activity" %>
  <h2>Coaches</h2>
  <% if @event.coaches %>
  <% end %>
  <p>
    <%= link_to "Add a coach", new_activity_coach_path({event_id: @event.id}) %>
  </p>
<% end %>
