<%- unless smart_listing.empty? %>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Imported At</th>
        <th>Status</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% smart_listing.collection.each do |import| %>
        <tr>
          <td><%= link_to import.file_file_name, import_path(import) %></td>
          <td><%= import.created_at %></td>
          <td><%= import.step %></td>
          <td>
            <%= link_to import do %>
              <i class="glyphicon glyphicon-share-alt"></i>
            <% end %>
          </td>
          <td>
            <%- unless import.completed? %>
              <%= link_to edit_import_path(import) do %>
                <i class="glyphicon glyphicon-pencil"></i>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= smart_listing.paginate %>
  <%= smart_listing.pagination_per_page_links %>
<% else %>
  <p class="warning">No records found</p>
<% end %>
