<div class="row">
  <div class="col-sm-5 col-md-5">
    <%= simple_form_for(@document) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name %>
        <%= f.input :researcher %>
        <%= f.input :conducted_at, as: :datetime %>
        <%= f.input :location %>
        <%= f.association :people %>
        <%= f.input :description, input_html: {rows: 10} %>
        <%= f.input :notes, input_html: {rows: 10} %>

      </div>

      <div class="form-actions">
        <%= f.button :submit, class: 'btn-primary' %>
        <%= link_to 'Cancel', people_path, class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>

  <div class="col-sm-5 col-md-offset-1 col-md-5">
    <%- if @document.is_interview? %>
      <h3>Upload Transcripts</h3>
      <%= uploader('transcript') %><br/>
      <%= list_uploads('transcript') %>

      <h3>Upload Audio</h3>
      <%= uploader('audio') %><br/>
      <%= list_uploads('audio') %>
    <%- elsif @document.is_gallery? %>
      <h3>Upload Photos</h3>
      <%= uploader('photo') %><br/>
      <%= list_uploads('photo') %>
    <% else %>
      <h3>Upload Files</h3>
      <%= uploader('file') %><br/>
      <%= list_uploads('file') %>
    <% end %>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('#interview_person_ids').select2()
  })
</script>
