<h1><%= @document.name %> <small><%= @document.type %></small></h1>

<p>
  <%= link_to 'Edit', edit_document_path(@document), class: "btn btn-primary" %>
  <%= link_to 'Back', documents_path, class: "btn btn-secondary" %>
</p>

<p>
  <strong>Researcher:</strong>
  <%= @document.researcher %>
</p>

<p>
  <strong>Location:</strong>
  <%= @document.location %>
</p>

<p>
  <strong>Conducted at:</strong>
  <%= @document.conducted_at %>
</p>

<p>
  <strong>People:</strong>
  <%- @document.people.each do |person| %>
    <br/>
    <%= person %> (<%= person.type %>)
  <% end %>
</p>

<br/>

<%- if @document.is_interview? %>
  <h4>Transcripts</h4>
  <%= list_uploads('transcript', true) %>

  <h4>Audio</h4>
  <%= list_uploads('audio', true) %>
<% elsif @document.is_gallery? %>
  <h4>Photos</h4>
  <div class="row">
    <%- @document.uploads.each do |upload| %>
      <div class="col-sm-6 gallery-photo">
        <%= image_tag upload.attachment.url(:medium) %>
        <%= link_to download_document_upload_url(@document, upload) do%>
          <span class="glyphicon glyphicon-download-alt" aria-hidden='true'></span>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <h4>Files</h4>
  <%= list_uploads('file', true) %>
<% end %>
