<p id="notice"><%= notice %></p>

<h1>Peers</h1>

<table>
  <thead>
    <tr>
      <th>Participant</th>
      <th>Mentor</th>
      <th>Peer start</th>
      <th>Peer end</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @peers.each do |peer| %>
      <tr>
        <td><%= peer.participant %></td>
        <td><%= peer.mentor %></td>
        <td><%= peer.peer_start %></td>
        <td><%= peer.peer_end %></td>
        <td><%= peer.notes %></td>
        <td><%= link_to 'Show', peer %></td>
        <td><%= link_to 'Edit', edit_peer_path(peer) %></td>
        <td><%= link_to 'Destroy', peer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Peer', new_peer_path %>
