<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Getting Out For Good</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <div id="flash">
        <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
        <% end %>
      </div>

      <%= render 'layouts/navigation' %>
    </header>

    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>

  </body>
</html>
